/* ================================== PRODUCT BUY START ======================================= */
.product,
.delivery-inf {
  display: flex;
  justify-content: space-between;
}

.product-title {
  font-size: 35px;
  line-height: 1.2;
  color: var(--secondary-color);
}

.product-page-wrap  {
  padding: 100px 0;
}

.product-page-inf {
  margin-left: 35px;
  width: 55%;
}

.product-page-inf > :nth-child(n + 2) {
  margin-bottom: 25px;
}

.buy-btn {
  background-color: var(--success);
  padding: 12px 50px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  transition: 0.25s;
}

.buy-btn:hover{
  opacity: .8;
}

.product-page-price {
  font-weight: 700;
  font-size: 32px;
}

.pdf-link i,
.delivery i {
  margin-right: 10px;
  font-size: 18px;
}

.product-page-availability{
  color: var(--success);
  font-size: 14px;
}

.pdf-link {
  color: var(--danger);
  font-weight: 700;
  transition: 0.25s;
}
.pdf-link:hover {
  opacity: 0.7;
}

.delivery i {
  color: var(--primary-color);
}

.delivery-title {
  font-size: 22px;
  font-weight: 700;
}

.delivery > :nth-child(n + 2) {
  margin-top: 15px;
}

.delivery-inf > :nth-child(n + 2) {
  margin-left: 25px;
}

.delivery-text a {
  color: var(--primary-color);
  font-weight: 700;
  margin-top: 5px;
  text-decoration: underline;
}

.product-slider {
  width: 45%;
  height: 600px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.product-video-slide video{
  width: 100%;
  height: 100%;
}

.product-slider img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-slider:hover > .swiper-button {
  opacity: 1;
}

.product-slider > .swiper-button {
  color: var(--primary-color);
  opacity: 0;
  transition: 0.25s;
}

.product-list>div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-list-label {
  width: 35%;
  color: var(--dark-gray);
  font-weight: 700;
}
/* ================================== PRODUCT BUY END ======================================= */