/* ================================== PRODUCT'S START ======================================= */
.products {
  padding: 70px 0;
  min-height: 100vh;
}

.product-card-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.product-title {
  font-size: 35px;
  line-height: 1.2;
  color: var(--secondary-color);
}

.product-card {
  width: 320px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  transition: 0.25s;
  margin-bottom: 20px;
}

.product-card > :nth-child(n + 1) {
  margin-bottom: 20px;
}

.product-card > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-subtitle {
  font-size: 18px;
  font-style: italic;
}

.card-price {
  font-size: 24px;
  font-weight: 600;
}

.availability::after{
  content: "Есть в наличии";
  font-size: 13px;
  color: var(--success);
}

.unavailability::after{
  content: "Нет в наличии";
  font-size: 13px;
  color: var(--danger); 
}

.button {
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 5px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  transition: 0.25s;
}

.button:hover {
  opacity: 0.7;
}

.product-card:hover {
  box-shadow: var(--shadow);
  transform: translateY(-3px);
}
/* ================================== PRODUCT'S END ======================================= */